<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Jova's Blog</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <%- include("partials/header.ejs") %>

   if((locals.newPost)){

   }else if(locals.title){

   }else{
    
   }
   
   <%- include("partials/footer.ejs") %>
</body>
</html>