<%- include("partials/header.ejs"); %>

<h2>New post</h2>
<form action="/" method="post">
    <label for="title">Title</label><br>
    <input type="text" name="title" required><br>
    <br>
    <label for="design tech art">Choose a tag: <br>
    <input type="radio" name="design">Design<br>
    <input type="radio" name="tech">Tech<br>
    <input type="radio" name="art">Art<br>
    </label>
    <br>
    <!-- <label for="content">Write your blog...</label> -->
    <input type="text" name="content" placeholder="Write you blog..." spellcheck="true" size="100" required><br><br>
    <button type="submit" class="button">Create</button>
</form>

<%- include("partials/footer.ejs") %>