body {
  background-color: bisque;
  text-align: center;
  align-items: center;
  font-family: monospace, Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  padding-top: 10px;
}

h1,
h2 {
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: black;
}

textarea {
  width: 60%;
  min-height: 150px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  resize: vertical;
  margin: 20px;
}

.title-input {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  resize: vertical;
  margin: 5px;
}

/*Button CSS */
.button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

/* CARD BUTTON CSS */
.card-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  height: fit-content;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
  width: 65%;
}

.card-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.card-button:hover:after {
  transform: translate(0, 0);
}

.card-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.card-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .card-button {
    padding: 0 40px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Button styling */
.dropdown .dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content container */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style each link inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown content when the button is hovered */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
  color: white;
}
